# Strings in pandas

Panda series and data frames have build-in methods for text columns.
For more information, visit the pandas [text data documentation](https://pandas.pydata.org/docs/user_guide/text.html)
    Let us build an example data frame from the `callouts_text` object.

In [1]:
import pandas as pd

In [2]:
tweets = """Just returned to the @WhiteHouse after a great evening @ Monroe, Louisiana with a massive turnout of Great American Patriots. With early voting underway until Sat, find your polling location below & go vote for your next #LAgov, @EddieRispone! #GeauxVote➡️https://vote.donaldjtrump.com
The degenerate Washington Post MADE UP the story about me asking Bill Barr to hold a news conference. Never happened, and there were no sources!
LOUISIANA! Early voting is underway until Saturday, it’s time to get out and VOTE to REPLACE Radical Liberal Democrat John Bel Edwards with a great new REPUBLICAN Governor, @EddieRispone! #GeauxVote
“Based on the things I’ve seen, the Democrats have no case, or a weak case, at best. I don’t think there are, or will be, well founded articles of Impeachment here.” Robert Wray, respected former prosecutor. It is a phony scam by the Do Nothing Dems! @foxandfriends""".split("\n")

co_df = pd.DataFrame(tweets, columns=["content"])
co_df

                                             content
0  Just returned to the @WhiteHouse after a great...
1  The degenerate Washington Post MADE UP the sto...
2  LOUISIANA! Early voting is underway until Satu...
3  “Based on the things I’ve seen, the Democrats ...

Convert the `content` column to lowercase.

In [3]:
co_df["content"] = co_df["content"].str.lower()
co_df

                                             content
0  just returned to the @whitehouse after a great...
1  the degenerate washington post made up the sto...
2  louisiana! early voting is underway until satu...
3  “based on the things i’ve seen, the democrats ...

Count the number of mentions in each tweet.

In [4]:
co_df["mentions_n"] = co_df["content"].str.count(r"@\w+")
co_df

                                             content  mentions_n
0  just returned to the @whitehouse after a great...           2
1  the degenerate washington post made up the sto...           0
2  louisiana! early voting is underway until satu...           1
3  “based on the things i’ve seen, the democrats ...           1

Count the number of uppercase words in each tweet. Use the [] to define a character class and the `\b` character to match
word boundaries.

In [5]:
co_df["cries_n"] = co_df["content"].str.count(r"\b[A-Z0-9]+\b")
co_df

                                             content  mentions_n  cries_n
0  just returned to the @whitehouse after a great...           2        0
1  the degenerate washington post made up the sto...           0        0
2  louisiana! early voting is underway until satu...           1        0
3  “based on the things i’ve seen, the democrats ...           1        0

Count the length of the tweet in terms of characters.

In [6]:
## Count the length of the tweet in characters
co_df["characters_n"] = co_df["content"].str.len()
co_df

,content,mentions_n,cries_n,characters_n
0,just returned to the @whitehouse after a great...,2,0,285
1,the degenerate washington post made up the sto...,0,0,144
2,louisiana! early voting is underway until satu...,1,0,198
3,"“based on the things i’ve seen, the democrats ...",1,0,265

In [8]:
words_count = set()

words_split = co_df["content"].str.split("\s+", expand=True) \
    .stack() \
    .reset_index()

counts = words_split.groupby("level_0").apply(len).reset_index()
co_df["words_cnt"] = counts[0]
co_df

,content,mentions_n,cries_n,characters_n,words_cnt
0,just returned to the @whitehouse after a great...,2,0,285,40
1,the degenerate washington post made up the sto...,0,0,144,25
2,louisiana! early voting is underway until satu...,1,0,198,30
3,"“based on the things i’ve seen, the democrats ...",1,0,265,47