# Text Data in Python

In [2]:
## Imports
import os
import pandas as pd

## Exercise 1:
  
  1. Read the `hillary_tweets.txt` file that is located in the "data" directory of the workshop repository. Alternatively, you can read it directly from this URL https://raw.githubusercontent.com/boyko/text-analytics-script/main/data/hillary_tweets.txt

In [3]:
# File path to the data
tweets_path = os.path.join("..", "data", "hillary_tweets.txt")

In [2]:
## 1) Read the data

#### 2. Split the string on the newline character and save it in an array called `tweets`. How many tweets are there in the array?

6

  ##### 5. Normalise each tweet by:
 
    - compressing whitespace and removing leading and trailing whitespace
    - removing the punctuation using regular expressions
    - tokenize the tweets using the `nltk.word_tokenize` function.
    - remove the stopwords
    - applying the Porter stemming algorithm

##### 6. Create a pandas dataframe with one column containing the tweets

#####  7. Summarise the tweets

In the following, the timestamp of the tweets is part of the text.

    - Count the number of characters in each tweet
    - Count the number of sentences in each tweet (by splitting on  ".", "?" and "!")
    - Count the number of hashtags in each tweet
    - Extracting the first mention (@) in each tweet in a column called `first_mention`.
    - Extract the datetime of each tweet and store it in a column called `timestamp`

                                               tweet      timestamp
0  9.11.201610pm"To all the little girls watching...  9.11.201610pm
1  9.11.20169amWe're delighted to have spent the ...   9.11.20169am
2  11.11.20164pmMeet the people who are suing the...  11.11.20164pm
3  14.11.20163pmHillary Clinton at Wednesday's @d...  14.11.20163pm
4  10.11.20168pmI'm so proud of @OnwardTogether p...  10.11.20168pm
5                                                               NaN

# Exercise 2

The following data frame contains 5 appointment records.

In [56]:
time_sentences = ["Monday: The doctor's appointment is at 2:45pm.",
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

##### 1. Replace each weekday mentioned in the records with its 3 letter abbreviation.

        hour minute ampm
  match
0 0        2     45   pm
1 0       11     30   am
2 0        7     00   pm
3 0       11     15   pm
4 0       08     10   am
  1       09     00   am

/home/amarov/anaconda3/envs/text-analytics-script/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

#### 2. Extract the time of each appointment (keep the am/pm suffix). Use named capture groups and the `str.extractall` method of the `text` column.